@{
    ViewData["Title"] = "Error | Virus Isolates Repository";
}
<div>
    <h1 style="color:red">Warning: An error has occurred within the Application</h1>
    <h2>Please contact the ITU Helpdesk and notify them of this issue using the link found on the <a asp-controller="ContactUs" asp-action="Index">Contact Us</a> page</h2>
    <h2>Click <a asp-controller="Home" asp-action="Index">here</a> to return to the home page or press the Back button in your browser to return to the previous page</h2>
</div>
