@model CharacteristicSearchViewModel
<div class="characteristic-block">
    <div>
        <table  class="p-0 m-0 ">
            <thead><tr><th></th></tr></thead>
            <tbody>
                <tr>
                    <td colspan="5">
                        <select asp-for="Characteristic" style="margin-left: 4px;" class="select-dropdown characteristic-ddl width-343">
                        <option value=""></option>
                            @if (Model?.CharacteristicList != null)
                            {
                                @foreach (var item in Model.CharacteristicList)
                                {
                                    <option value="@item.Value" data-type="@item.DataType">@item.Text</option>
                                }     
                            }
                    </select>
                    <input type="hidden" asp-for="CharacteristicType" class="characteristic-ddl-type" />
                    </td>
                </tr>
                <tr class="d-flex">
                    <td class="p-0 m-0 padd-Left11" style="width: 104px;">
                        <select class="p-0 m-0 comparator-ddl" asp-for="Comparator" asp-items="Model.ComparatorList" hidden>
                        </select>
                    </td>
                    <td class="p-0 m-0 padd-Left11" style="width:50px">
                        <select asp-for="CharacteristicListValue" asp-items="Model.CharacteristicValues" class="p-0 m-0 char-list-values-ddl" style="display:none;">
                        </select>
                    </td>
                    <td class="p-0 m-0padd-Left11" style="width:60px">
                        <input type="text" asp-for="CharacteristicValue1" class=" char-value1" style="width:70px;display:none;" />
                    </td>
                    <td class="p-0 m-0 padd-Left11" style="width:60px">
                        
                        <span class="mx-3  char-and-label" style="width:70px;display:none;">and</span>
                    </td>
                    <td class="p-0 m-0 padd-Left11" style="width:60px">
                        <input type="text" asp-for="CharacteristicValue2" class=" char-value2" style="width:70px;display:none;" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>