@{
    ViewData["Title"] = "Relocation Management | Virus Isolates Repository";
}

<div>
    <p>This page allows you to manage the locations of isolates and trays held within the system. Please select one of the options below to begin:</p>

    <div>
        <div>
            <img src="~/images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
            <img src="~/Images/spacer.gif" width="3" height="5" alt="">
            <a asp-controller="IsolateRelocate" asp-action="" class="recent-av-link">Relocate Virus Isolates</a>
        </div>
        <div>
            <img src="~/images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
            <img src="~/Images/spacer.gif" width="3" height="5" alt="">
            <a asp-controller="TrayRelocate" asp-action="" class="recent-av-link">Relocate Freezer Trays</a>
        </div>
    </div>
</div>