@{
    ViewData["Title"] = "Relocation Management | Virus Isolates Repository";
}

<div>
    <p>This page allows you to manage the locations of isolates and trays held within the system. Please select one of the options below to begin:</p>


    <div class="page_links">
        <ul class="ps-1">
            <li>
                <a href="~/Relocation/Isolate" class="recent-av-link">Relocate Virus Isolates</a>
                </li>

            <li>
                <a href="~/Relocation/Tray" class="recent-av-link">Relocate Freezer Trays</a>
            </li>
        </ul>
    </div>

  
</div>