@{
	ViewData["Title"] = "Contact Us | Virus Isolates Repository";
}
<div>
    If you have any queries or comments regarding the Virus Isolate Repository please contact:
    <br /><br />
    <a id="hypServicedesk" href="mailto:ahvlaitservicedesk@ahvla.gsi.gov.uk" target="_blank">AHVLA IT Servicedesk</a>
    <br /><br />
    Stating the application name clearly at the start of the description and including as much information as possible.
</div>