@model AuditLogViewModel
@{
	ViewData["Title"] = "Search Audit Log | Virus Isolates Repository";
}
<div class="isolatereport-contentbox" style="width: 600px">
	<div class="isolatereport-box_title">
		Enter search selection criteria
	</div>
	<div class="isolatereport-box_body">
		<br/>
		<form asp-action="SearchAudit" method="post">
			<div class="form-group row">
				<label for="AVNumber" class="col-sm-3 col-form-label">AVNumber</label>
				<div class="col-sm-9">
					<input id="AVNumber" asp-for="AVNumber" class="form-control" title="AVNumber format should be AVnnnnnn-yy or PDnnnn-yy" />
					<br><span asp-validation-for="AVNumber" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="DateTimeFrom" class="col-sm-3 col-form-label">Date/Time From</label>
				<div class="col-sm-9">
					<input id="DateTimeFrom" asp-for="DateTimeFrom" class="form-control datepicker" title="Date format is dd/mm/yyyy hh:mm:ss" />
					<br><span asp-validation-for="DateTimeFrom" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="DateTimeTo" class="col-sm-3 col-form-label">Date/Time To</label>
				<div class="col-sm-9">
					<input id="DateTimeTo" asp-for="DateTimeTo" class="form-control datepicker" title="Date format is dd/mm/yyyy hh:mm:ss" />
					<br><span asp-validation-for="DateTimeTo" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="UserId" class="col-sm-3 col-form-label">User</label>
				<div class="col-sm-9">
					<input id="UserId" asp-for="UserId" class="form-control" />
					<br><span asp-validation-for="UserId" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-9 offset-sm-3">
					<button type="submit" class="btn-as-link">Search</button>
					<button id="searchRepoClearSearch"
							type="button" class="btn-as-link"
							onclick="ClearSearchFilter()">
						Clear Search
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
@if (Model.ShowErrorSummary)
{
	<div id="pnlValidation" asp-validation-summary="All" class="spvalidation">
		<span id="lblValidationMessage" class="validation"></span>
	</div>
}
else
{
	@if (!Model.ShowDefaultView)
	{
		<div id="searchoOtiosn">
			<br />
			<span class="para-darkblue-small">Select the audit log that you wish to view</span>
			<div class="btn-group" role="group" aria-label="Select Audit Log Type">
				<br />
				<button type="button" class="btn btn-as-link" id="btnSubmission" data-id="Submission" onclick="GetAuditLogs(this)">Submission</button>
				<button type="button" class="btn btn-as-link" id="btnSample" data-id="Sample" onclick="GetAuditLogs(this)">Sample</button>
				<button type="button" class="btn btn-as-link" id="btnIsolate" data-id="Isolate" onclick="GetAuditLogs(this)">Isolate</button>
				<button type="button" class="btn btn-as-link" id="btnCharacteristics" data-id="Characteristics" onclick="GetAuditLogs(this)">Characteristics</button>
				<button type="button" class="btn btn-as-link" id="btnDispatch" data-id="Dispatch" onclick="GetAuditLogs(this)">Dispatch</button>
				<button type="button" class="btn btn-as-link" id="btnIsolateViability" data-id="Viability" onclick="GetAuditLogs(this)">Isolate Viability</button>
			</div>
		</div>

		<div id="searchResults" class="searchRepo-grid-table ">
			<div id="auditLogContent" class="mt-3">
				<partial name="_SubmissionAuditLogResults" for="@Model.SubmissionLogs" />
			</div>
		</div>
	}
}


@section Scripts {
	<script>
		function GetAuditLogs(button) {
			debugger;
			var id = $(button).data('id');
			$.ajax({
				type: "POST",
				url: '/AuditLog/GetAuditLogs',
				data: { requesttype: id },           // Pass data to the server
				success: function (partialViewHtml) {
					$('#auditLogContent').html(partialViewHtml);
				},
				error: function (xhr, status, error) {
					console.error('Error loading partial view:', error);
				}
			});
		};

		function ClearSearchFilter() {
			window.location.href = '/AuditLog/Index';
		};
	</script>
}
