@model AuditLogViewModel
@{
	ViewData["Title"] = "Search Audit Log | Virus Isolates Repository";
}
<div class="contentbox w-600">
	<div class="contentbox_title">
		Enter search selection criteria
	</div>
	<div class="contentbox_body ms-3">
		<br />
		<form asp-action="SearchAudit" method="post">
			<input type="hidden" name="IsNewSearch" value="true" />
			<div class="form-group row mt-2">
				<label for="AVNumber" class="col-sm-3 col-form-label">AVNumber</label>
				<div class="col-sm-9">
					<input id="AVNumber" asp-for="AVNumber" class="form-control w-200" title="AVNumber format should be AVnnnnnn-yy or PDnnnn-yy" />
					<br><span asp-validation-for="AVNumber" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row mt-4">
				<label for="DateTimeFrom" class="col-sm-3 col-form-label">Date/Time From</label>
				<div class="col-sm-9">
					<input id="DateTimeFrom" asp-for="DateTimeFrom" class="form-control datepicker" title="Date format is dd/mm/yyyy hh:mm:ss" />
					<br><span asp-validation-for="DateTimeFrom" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row mt-4">
				<label for="DateTimeTo" class="col-sm-3 col-form-label">Date/Time To</label>
				<div class="col-sm-9">
					<input id="DateTimeTo" asp-for="DateTimeTo" class="form-control datepicker" title="Date format is dd/mm/yyyy hh:mm:ss" />
					<br><span asp-validation-for="DateTimeTo" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row mt-4 mb-3">
				<label for="UserId" class="col-sm-3 col-form-label">User</label>
				<div class="col-sm-9">
					<input id="UserId" asp-for="UserId" class="form-control w-200" />
					<br><span asp-validation-for="UserId" class="Validation"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-9 offset-sm-3 mb-3" style="text-align: right; padding-right: 55px;">
					<button type="submit" class="btnLink me-3">Search</button>
					<button id="searchRepoClearSearch"
							type="button" class="btnLink"
							onclick="ClearSearchFilter()">
						Clear Search
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
@if (Model.ShowErrorSummary)
{
	<div id="pnlValidation" asp-validation-summary="All" class="spvalidation">
		<span id="lblValidationMessage" class="validation"></span>
	</div>
}
else
{
	@if (!Model.ShowDefaultView)
	{
		<div id="searchoOtiosn">
			<br />
			<span class="para-darkblue-small">Select the audit log that you wish to view</span>
			<fieldset style="border: none; padding: 0; margin: 0;">
				<br />
				<button type="button" class="btnLink" id="btnSubmission" data-id="Submission" onclick="GetAuditLogs(this)">Submission</button>
				<button type="button" class="btnLink" id="btnSample" data-id="Sample" onclick="GetAuditLogs(this)">Sample</button>
				<button type="button" class="btnLink" id="btnIsolate" data-id="Isolate" onclick="GetAuditLogs(this)">Isolate</button>
				<button type="button" class="btnLink" id="btnCharacteristics" data-id="Characteristics" onclick="GetAuditLogs(this)">Characteristics</button>
				<button type="button" class="btnLink" id="btnDispatch" data-id="Dispatch" onclick="GetAuditLogs(this)">Dispatch</button>
				<button type="button" class="btnLink" id="btnIsolateViability" data-id="Viability" onclick="GetAuditLogs(this)">Isolate Viability</button>
			</fieldset>
		</div>

		<div id="searchResults">
			<div id="auditLogContent" class="mt-3">
				@if (Model.IsNewSearch)
				{
					<partial name="_SubmissionAuditLogResults" for="@Model.SubmissionLogs" />
				}
				else
				{
					<partial name="_IsolateAuditLogResults" for="@Model.IsolateLogs" />
				}
			</div>
		</div>
	}
}


@section Scripts {
	<script>
		function GetAuditLogs(button) {
			debugger;
			var id = $(button).data('id');
			$.ajax({
				type: "POST",
				url: '/AuditLog/GetAuditLogs',
				data: { requesttype: id },           // Pass data to the server
				success: function (partialViewHtml) {
					$('#auditLogContent').html(partialViewHtml);
				},
				error: function (xhr, status, error) {
					console.error('Error loading partial view:', error);
				}
			});
		};

		function ClearSearchFilter() {
			window.location.href = '/AuditLog';
		};
	</script>
}
