@model SubmissionEditViewModel

<div id="contentbox" class="editsubmission-contentbox">
	<div class="editsubmission-box_title">Enter/Update the Submission details.</div>
	<div class="editsubmission-box_body">

		<div class="editsubmission-body_title  mt-3">Enter Submission details.</div>
		<form asp-action="Edit" asp-controller="Submission" method="post">
			<div class="submission-form">
				<input type="hidden" asp-for="SubmissionId"/>
				<input type="hidden" asp-for="LastModified"/>
				<div class="row mt-4">
					<div class="col-sm-3">
						<label for="AVNumber" class="col-form-label">AV Number</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="AVNumber" class="editsubmission-control-width-normal" readonly />
						<span asp-validation-for="AVNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="RLReferenceNumber" class="col-form-label">
							RL Reference Number<br /><small>(UK Diagnostic Submissions Only)</small>
						</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="RLReferenceNumber" class="editsubmission-control-width-normal" />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="SubmittingLab" class="col-form-label">
							Submitting Lab<br /><small>(UK Diagnostic Submissions Only)</small>
						</label>
					</div>
					<div class="col-sm-9">
						<select asp-for="SubmittingLab" asp-items="Model.SubmittingLabList" class="editsubmission-control-width-normal">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="SendersReferenceNumber" class="col-form-label">Sender's Submission Reference Number</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="SendersReferenceNumber" class="editsubmission-control-width-normal" />
						<span asp-validation-for="SendersReferenceNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="SubmittingCountry" class="col-form-label">Submitting Country</label>
					</div>
					<div class="col-sm-9">
						<select asp-for="SubmittingCountry" asp-items="Model.CountryList" class="editsubmission-control-width-normal" onchange="changedSubmittingCountry(this)">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="Sender" class="col-form-label">Sender</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="Sender" class="editsubmission-control-width-large" maxlength="50" />						
						<button type="button" class="btn btn-link editsubmission-btn-link-custom" onclick="openPopupSender()" id="mainSendersBtn">Main Senders</button>
						<button type="button" class="btn btn-link  editsubmission-btn-link-custom" onclick="openPopupAddSender()" id="addSenderBtn">Add</button>
						<span asp-validation-for="Sender" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="SenderOrganisation" class="col-form-label">Sender Organisation</label>
					</div>
					<div class="col-sm-9">
						<textarea asp-for="SenderOrganisation" class="editsubmission-control-width-large" maxlength="200"></textarea>						
						<button type="button" class="btn btn-link  editsubmission-btn-link-custom" onclick="openPopupOrganisation()" id="mainOrgsBtn">Main Organisations</button>
						<span asp-validation-for="SenderOrganisation" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="SenderAddress" class="col-form-label">Sender Address</label>
					</div>
					<div class="col-sm-9">
						<textarea asp-for="SenderAddress" class="editsubmission-control-width-large" style="height:96px" maxlength="500"></textarea>
						<span asp-validation-for="SenderAddress" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="CountryOfOrigin" class="col-form-label">Country of Origin</label>
					</div>
					<div class="col-sm-9">
						<select asp-for="CountryOfOrigin" asp-items="Model.CountryList" class="editsubmission-control-width-normal">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="ReasonForSubmission" class="col-form-label col-sm-3">Reason for Submission</label>
					</div>
					<div class="col-sm-9">
						<select asp-for="ReasonForSubmission" asp-items="Model.SubmissionReasonList" class="editsubmission-control-width-normal">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="DateSubmissionReceived" class="col-form-label">Date Submission Received</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="DateSubmissionReceived" style="width:113" type="date" />
						<span asp-validation-for="DateSubmissionReceived" class="text-danger"></span>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="NumberOfSamples" class="col-form-label col-sm-3">No. Samples Received</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="NumberOfSamples" class="editsubmission-control-width-normal" type="number" min="1" />
						<span asp-validation-for="NumberOfSamples" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="CPHNumber" class="col-form-label col-sm-3">CPH Number</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="CPHNumber" class="editsubmission-control-width-normal" />
						<span asp-validation-for="CPHNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="Owner" class="col-form-label col-sm-3">Owner</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="Owner" class="form-control" />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<label for="SamplingLocationPremises" class="col-form-label col-sm-3">Sampling Location / Premises</label>
					</div>
					<div class="col-sm-9">
						<input asp-for="SamplingLocationPremises" class="form-control" />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-12 text-right">
						<button type="submit" style="margin-left:725px" class="btn btn-link editsubmission-btn-link-custom">Update</button>
						<a asp-action="Index" asp-controller="SubmissionSamples" class="btn btn-link editsubmission-btn-link-custom">Cancel</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade" id="popupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" style="border: 1px solid #e0e0e0;">
	<div class="modal-dialog">
		<div class="modal-content" id="popupModalContent">
			<!-- Partial will load here -->
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/submissionAddEdit.js"></script>
}