@model SubmissionEditViewModel
@{
	ViewData["Title"] = "Submission Details | Virus Isolates Repository";
}
<div class="contentbox">
	<div class="contentbox_title">Enter/Update the Submission details.</div>
	<div class="contentbox_body">

		<h2 class="mt-3">Enter Submission details.</h2>
		<form asp-action="Edit" asp-controller="Submission" method="post">
			<div >
				<input type="hidden" asp-for="SubmissionId"/>
				<input type="hidden" asp-for="LastModified"/>
				<div class="row mt-4">
					<div class="col-sm-3">
						<span for="AVNumber" class="col-form-label">AV Number</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="AVNumber" class="editsubmission-control-width-normal" readonly />
						<span asp-validation-for="AVNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="RLReferenceNumber" class="col-form-label">
							RL Reference Number<br /><small>(UK Diagnostic Submissions Only)</small>
						</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="RLReferenceNumber" class="editsubmission-control-width-normal" />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="SubmittingLab" class="col-form-label">
							Submitting Lab<br /><small>(UK Diagnostic Submissions Only)</small>
						</span>
					</div>
					<div class="col-sm-9">
						<select asp-for="SubmittingLab" asp-items="Model.SubmittingLabList" class="editsubmission-control-width-normal width-234">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="SendersReferenceNumber" class="col-form-label">Sender's Submission Reference Number</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="SendersReferenceNumber" class="editsubmission-control-width-normal" title="Letters, numbers -#/\() allowed" />
						<span asp-validation-for="SendersReferenceNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="SubmittingCountry" class="col-form-label">Submitting Country</span>
					</div>
					<div class="col-sm-9">
						<select asp-for="SubmittingCountry" asp-items="Model.CountryList" class="editsubmission-control-width-normal width-234" onchange="changedSubmittingCountry(this)">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="Sender" class="col-form-label">Sender</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="Sender" class="editsubmission-control-width-large" maxlength="50" />						
						<button type="button" class="btnLink ms-1" onclick="openPopupSender()" id="mainSendersBtn">Main Senders</button>
						<button type="button" class="btnLink ms-2" onclick="openPopupAddSender()" id="addSenderBtn">Add</button>
						<span asp-validation-for="Sender" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="SenderOrganisation" class="col-form-label">Sender Organisation</span>
					</div>
					<div class="col-sm-9">
						<textarea asp-for="SenderOrganisation" class="editsubmission-control-width-large" maxlength="200"></textarea>						
						<button type="button" class="btnLink ms-1" onclick="openPopupOrganisation()" id="mainOrgsBtn">Main Organisations</button>
						<span asp-validation-for="SenderOrganisation" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="SenderAddress" class="col-form-label">Sender Address</span>
					</div>
					<div class="col-sm-9">
						<textarea asp-for="SenderAddress" class="editsubmission-control-width-large" style="height:96px" maxlength="500"></textarea>
						<span asp-validation-for="SenderAddress" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="CountryOfOrigin" class="col-form-label">Country of Origin</span>
					</div>
					<div class="col-sm-9">
						<select asp-for="CountryOfOrigin" asp-items="Model.CountryList" class="editsubmission-control-width-normal width-234">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="ReasonForSubmission" class="col-form-label col-sm-3">Reason for Submission</span>
					</div>
					<div class="col-sm-9">
						<select asp-for="ReasonForSubmission" asp-items="Model.SubmissionReasonList" class="editsubmission-control-width-normal width-234">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="DateSubmissionReceived" class="col-form-label">Date Submission Received</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="DateSubmissionReceived" style="width:229px" type="date" />
						<span asp-validation-for="DateSubmissionReceived" class="text-danger"></span>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="NumberOfSamples" class="col-form-label col-sm-3">No. Samples Received</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="NumberOfSamples" class="editsubmission-control-width-normal" type="number" min="1" />
						<span asp-validation-for="NumberOfSamples" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="CPHNumber" class="col-form-label col-sm-3">CPH Number</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="CPHNumber" class="editsubmission-control-width-normal" />
						<span asp-validation-for="CPHNumber" class="text-danger"></span>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="Owner" class="col-form-label col-sm-3 ">Owner</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="Owner" class="form-control  editsubmission-control-width-normal" />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-3">
						<span for="SamplingLocationPremises" class="col-form-label col-sm-3">Sampling Location / Premises</span>
					</div>
					<div class="col-sm-9">
						<input asp-for="SamplingLocationPremises" class="form-control  editsubmission-control-width-normal" />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-9 text-right">
						<button type="submit" style="margin-left:425px" class="btnLink me-2">Update</button>
						<a asp-action="Index" asp-controller="SubmissionSamples" class="btnLink">Cancel</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade" id="popupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" style="border: 1px solid #e0e0e0;">
	<div class="modal-dialog">
		<div class="modal-content" id="popupModalContent">
			<!-- Partial will load here -->
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/submissionAddEdit.js"></script>
}