@model VirusCharacteristicsViewModel
@{
	ViewData["Title"] = "View Virus Characterstics";
}

<nav aria-label="Add new characteristic">
    <ul class="linklist">
        <li>
            <a asp-controller="VirusCharacteristics" asp-action="List">
                <img src="~/images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                Manage the list of available Virus Characteristics
            </a>
        </li>
		<li>
            <a asp-controller="VirusCharacteristic" asp-action="List">
				<img src="~/images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                Associate Virus Characteristic to a Virus Family and Type
			</a>
		</li>
    </ul>
</nav>
