@model VirusCharacteristicsViewModel
@{
	ViewData["Title"] = "View Virus Characterstics";
}
<table>
	<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
	<tbody>
		<tr>
			<td><img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" /></td>
			<td><img src="~/Images/spacer.gif" width="10" height="5" alt="" /></td>
			<td>
				<a asp-controller="VirusCharacteristics" asp-action="Create">
					Add a new Virus Characteristic
				</a>
			</td>
		</tr>
	</tbody>
</table>

<p>Edit an existing Virus Characteristic by clicking on the links below.</p>

<div id="listEntries" class="mt-3">
	<partial name="_VirusCharatersticsList" for="@Model" />
</div>
@section Scripts {
	<script>
		$(document).on('click','.pagination a', function (e) {
			e.preventDefault();
			var pageNo=$(this).data('pageno');
			$.get('BindCharacteristicEntriesGridOnPagination', {pageNo: pageNo, pageSize:10}, function (htmlData) {
			$('#listEntries').html(htmlData);
			});
			});
	</script>
}