@using Apha.VIR.Web.Models.VirusCharacteristic
@model VirusCharacteristicListEntryModel

<form asp-controller="VirusCharacteristicsListEntry" asp-action="Create" method="post">
    @Html.HiddenFor(m => m.VirusCharacteristicId)
    <div class="form-group">
        <div class="d-flex align-items-center mb-1" >
            <span for="Name" style="min-width: 100px; margin: 0; margin-right: 12px;">Name *</span>
            <input asp-for="Name" class="form-control w-200"  />
        </div>
        <div class="w-200 marginLeft112">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="w-200 d-flex justify-content-end mt-3 marginLeft112" style=" gap: 8px;">
            <button type="submit" class="btn btn-primary btnLink">Save</button>
            <a asp-action="ListEntries" asp-controller="VirusCharacteristicsListEntry" asp-route-characteristic="@Model.VirusCharacteristicId" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>