@using Apha.VIR.Web.Models
@using Apha.VIR.Web.Models.VirusCharacteristic
@model VirusCharacteristicListEntriesViewModel

@{
	ViewData["Title"] = "Virus Characteristic List Entries | Virus Isolates Repository";
}

<div>
	<div>
		<strong>@Model.CharacteristicName</strong>
	</div>

	<div>
		<br />
		<table>
			<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
			<tbody>
				<tr>
					<td><img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" /></td>
					<td><img src="~/Images/spacer.gif" width="10" height="5" alt="" /></td>
					<td>
						<a asp-action="Create" asp-route-characteristic="@Model.CharacteristicId">
							Add a new list entry
						</a>
					</td>
				</tr>
				<tr>
					<td><img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" /></td>
					<td><img src="~/Images/spacer.gif" width="10" height="5" alt="" /></td>
					<td>
						<a asp-action="Back">Return to Virus Characteristics Page</a>
					</td>
				</tr>
			</tbody>
		</table>

		<br />
		<span>
			Edit an existing list entry by clicking on the links below.
		</span>
		<div id="listEntries" class="mt-3">
			<partial name="_VirusCharacteristicListEntry" for="@Model.Entries" />
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).on('click','.pagination a', function (e) {
			e.preventDefault();
			var id = "@Model.CharacteristicId";
			var pageNo=$(this).data('pageno');
			$.get('BindCharacteristicEntriesGridOnPagination', {characteristic: id, pageNo: pageNo, pageSize:10}, function (htmlData) {
			$('#listEntries').html(htmlData);
			});
			});
	</script>
}