@using Apha.VIR.Web.Models
@using Apha.VIR.Web.Models.VirusCharacteristic
@model VirusCharacteristicListEntriesViewModel

@{
	ViewData["Title"] = "Virus Characteristic List Entries | Virus Isolates Repository";
}

<div>
	<div>
		<strong>@Model.CharacteristicName</strong>
	</div>

	<div>
		<br />
		<div class="page_links">
			<ul class="ps-1">
				<li>
					<a asp-action="Create" asp-route-characteristic="@Model.CharacteristicId">
						Add a new list entry
					</a>
				</li>
				<li>
					<a asp-action="Back">Return to Virus Characteristics Page</a>
				</li>
			</ul>
		</div>
		

		<br />
		<span>
			Edit an existing list entry by clicking on the links below.
		</span>
		<div id="listEntries" class="mt-3">
			<partial name="_VirusCharacteristicListEntry" for="@Model.Entries" />
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).on('click','.pagination a', function (e) {
			e.preventDefault();
			var id = "@Model.CharacteristicId";
			var pageNo=$(this).data('pageno');
			$.get('BindCharacteristicEntriesGridOnPagination', {characteristicId: id, pageNo: pageNo, pageSize:10}, function (htmlData) {
			$('#listEntries').html(htmlData);
			});
			});
	</script>
}