@{
    ViewData["Title"] = "Unauthorised Access | Virus Isolates Repository";
}

<h1 style="color:Red">Warning: Unauthorised Access</h1>
<h2>You do not have permission to access the specified function.</h2>
<br />
<h3>If you require access to this function, then please contact an Administrator to have your permissions changed</h3>
<br />
<h3>Please return to the home page using the links provided.</h3>