body {
    background-color: #ffffff;
    color: #333333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: left;
    /*    overflow: hidden;*/
}

.width-90 {
    width: 90%
}

.width-80 {
    width: 80%
}

.width-22 {
    width: 22%;
}

.width-25 {
    width: 25%;
}
/*Layout*/
.master_header_top {
    background-color: #99cc00;
    padding: 5px 4px 6px 14px;
    font-size: 0.8em;
    color: #ffffff;
}

    .master_header_top a {
        color: #0b2677
    }

        .master_header_top a:link {
            color: #0b2677;
            text-decoration: none
        }

        .master_header_top a:visited {
            color: #0b2677;
            text-decoration: none
        }

        .master_header_top a:hover {
            color: #0b2677;
            text-decoration: underline
        }

.Version {
    text-align: left;
    color: #ffffff;
    margin-right: 4px;
    font-weight: bold;
    border: red solid 1px;
    background-color: Black;
    cursor: default;
}

.master_header_middle {
    background-image: url('/Images/intravet_banner.png');
    background-repeat: no-repeat;
    position: relative;
    height: 72px;
    background-color: #0b2677;
    width: 100%;
    overflow: visible;
}

    .master_header_middle .UserRole {
        margin: 12px 12px 6px 0px;
        padding: 4px 10px 4px 10px;
        float: right;
        border-left: 1px solid #6bc4d2;
        border-right: 1px solid #6bc4d2;
        text-align: left;
        color: #ffffff;
        cursor: default;
    }

    .master_header_middle .Title {
        position: absolute;
        left: 210px;
        top: 10px;
        font-family: Times New Roman;
        font-size: 30pt;
        font-weight: bold;
        color: #ffffff;
        cursor: default;
    }

.master_header_bottom {
    background-color: #99cc00;
    padding: 5px 4px 6px 14px;
    font-size: 0.8em;
    color: #0b2677;
}

.breadcrumb {
    color: #0b2677;
    /*    font-size: 0.9em;*/
    padding: 0;
    margin: 0;
}

    .breadcrumb li {
        display: inline;
    }

        .breadcrumb li + li:before {
            content: ">";
            padding-right: 5px;
        }

        .breadcrumb li a {
            color: #0000FF;
            text-decoration: none;
        }

            .breadcrumb li a:link {
                color: #0000FF;
                text-decoration: none
            }

            .breadcrumb li a:visited {
                color: #0000FF;
                text-decoration: none
            }

            .breadcrumb li a:hover {
                color: #0000FF;
                text-decoration: underline
            }


.master_content {
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    width: 95%;
}

.master_footer {
    bottom: 0px;
    width: 100%;
    font-size: 0.8em;
    color: #333333;
    background-color: #FFFFFF;
    padding: 12px 14px 12px 14px;
    border-top: 1px solid #BCD0F1;
}

.master_footerfake {
    font-size: 0.8em;
    padding: 20px 14px 12px 14px;
}
/*End of layout*/

/* Grid Table of search Repo  */
.search-repository-label {
    color: Navy;
    font-weight: bold;
    margin-right: 25%;
}
.searchRepo-grid-table tbody {
    vertical-align: top;
}
.searchRepo-grid-table {
    width: 100%;
}

    .searchRepo-grid-table table {
        border-collapse: collapse;
    }

        .searchRepo-grid-table table thead tr th {
            text-wrap-mode: wrap;
            padding-bottom: 10px;
            background-color: Navy;
            border: 1px solid white;
            align-items: center
        }

            .searchRepo-grid-table table thead tr th a {
                color: White;
            }

        .searchRepo-grid-table table tr td {
            border: 1px solid black;
            border-spacing: 0;
        }


    .searchRepo-grid-table tr:nth-child(even) {
        background-color: #efefef;
    }

.no-label {
    display: inline-block;
    border-color: Green;
    border-width: 1px;
    border-style: Solid;
    font-family: Verdana;
    font-size: Small;
    font-weight: normal;
}

.yes-label {
    display: inline-block;
    border-color: Red;
    border-width: 1px;
    border-style: Solid;
    font-family: Verdana;
    font-size: Small;
    font-weight: normal;
}

.searchRepo-grid-table tr form button:hover {
    text-decoration-line: underline
}

.custom-underline-hover {
    text-decoration: none;
    font-size: small;
    color: #000040;
}


/*End of Grid Table of search Repo*/

/*Home Page*/
.link-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0
}

    .link-list li {
        padding-bottom: 2px
    }

    /* Links and list items */
    .link-list a {
        color: #0000FF;
        padding: 5px
    }

        .link-list a:hover,
        .link-list a:focus,
        .link-list a:visited {
            color: #0000FF;
            text-decoration: underline;
        }
/* End of home page */

/*select dropdown*/
.select-dropdown {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: auto;
    font-family: Verdana;
    width: 100%;
    background-color: white;
    height: fit-content;
}

.word-break {
    word-break: break-word;
    word-spacing: normal;
    max-width: 25%;
}

.textInput {
    font-family: Verdana;
    width: 100%;
    background-color: white;
    height: fit-content;
}

.small-select-dropdown {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: auto;
    font-family: Verdana;
    width: 40%;
    background-color: white;
    height: fit-content;
}

.label-style {
    min-width: 25%;
    word-wrap: break-word;
    white-space: normal;
    height: fit-content;
}

.hidden {
    display: none;
}
/*Search repository table*/
.search-repository-container {
    width: 100%;
    height: 100%;
}

    .search-repository-container table {
        table-layout: fixed;
        width: 90%;
    }

        .search-repository-container table tr td {
            width: 50%;
            padding: 7px;
        }

        .search-repository-container table tr table {
            width: 100%;
            height: fit-content;
        }

        .search-repository-container table tr td table tbody tr {
            min-width: 100%
        }

            .search-repository-container table tr td table tbody tr td {
                padding-right: 10px;
                width: 50%;
            }

                .search-repository-container table tr td table tbody tr td div {
                    display: flex;
                    flex-wrap: wrap;
                }

                    .search-repository-container table tr td table tbody tr td div div {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding-right: 5px;
                    }

.sp-button {
    color: #0000FF;
    text-decoration: none;
}

    .sp-button:hover {
        color: #0000FF;
        text-decoration: underline;
    }

.search-repository-calender {
    width: 100%
}

    .search-repository-calender tr td {
        width: 32%;
    }

.spvalidation {
    color: Red;
    font-weight: bold;
}

    .spvalidation ul {
        list-style-type: none;
    }

/*End of search repository*/
/*--Isolate details*/
.id-box-title {
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    background-color: #0b2677;
    color: #ffffff;
    font-weight: bold;
}

.id-box_body {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: #0b2677 1px solid;
}

    .id-box_body a {
        color: #0000FF;
        text-decoration: none;
    }

    .id-box_body table {
        border-collapse: collapse;
        width: 80%;
        height: auto
    }
        /*    .id-box_body table tr td  {
        width: 25%
    }*/
        .id-box_body table tr td textarea {
            width: 100%
        }

.help-section {
    width: 100%;
    border-top: 1px solid #BCD0F1;
    font-weight: bold;
    color: #0b2677;
    margin: 4px 0 0 0;
    padding: 0 0 0 0;
    font-size: 1em;
    clear: both;
}

.validation {
    color: Red;
    font-weight: bold;
}

    .validation ul {
        list-style-type: none;
        padding: 0;
        margin: 0
    }

        .validation ul li::before {
            content: "\002D ";
        }

/*Isolate History*/
.view-isolate-details-label {
    color: Navy;
    background-color: White;
    font-weight: bold;
    white-space: nowrap;
}

.view-isolate-details-label2 {
    color: white;
    background-color: navy;
    font-weight: bold;
    white-space: nowrap;
}


/* Grid Table of View Isolate Details  */
.isolate-grid-table {
    width: 100%;
}

    .isolate-grid-table table {
        border-collapse: collapse;
    }

        .isolate-grid-table table thead tr th {
            text-wrap-mode: nowrap;
            padding-bottom: 1px;
            background-color: Navy;
            border: 1px solid black;
            align-items: center
        }

        .isolate-grid-table table thead tr th {
            color: White;
        }

        .isolate-grid-table table tr td {
            border: 1px solid black;
            border-spacing: 0;
        }


    .isolate-grid-table tr:nth-child(even) {
        background-color: #efefef;
    }

}

.isolate-grid-table tr form button:hover {
    text-decoration-line: underline
}

.custom-underline-hover {
    text-decoration: none;
    font-size: small;
    color: #000040;
}

.btn-as-link {
    background: none;
    border: none;
    color: #0000FF;
    padding: 0;
    font: inherit;
    /* text-decoration: underline; */
    cursor: pointer;
}

    .btn-as-link:hover {
        color: #0000FF;
        text-decoration: underline;
    }

.inline-form {
    display: inline;
}
/* view isolate details */
.view-isolate-header {
    font-weight: bold;
    color: #0b2677;
    margin: 4px 0 0 0;
    padding: 0 0 0 0;
    font-size: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    clear: both;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.isolate-chid-tbl {
    width: 90%;
}
.isolate-chid-tbl thead tr th {
    text-wrap-mode: wrap!important;
}
/* end view isolate details */

.isolatereport-box_title {
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    /* padding: 0.2em 1px 2px 14px; */
    background-color: #0b2677;
    color: #ffffff;
    /* font-size: 0.9em; */
    font-weight: bold;
}

.isolatereport-contentbox {
    border-top: #0b2677 1px solid;
    border-right: #0b2677 1px solid;
    border-bottom: #0b2677 1px solid;
    border-left: #0b2677 1px solid;
    margin: 0px 0px 15px 0px;
}

.isolatereport-box_body {
    background-color: #ffffff;
    color: #333333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: left;
}

.isolatereport-header {
    background-color: #0b2677;
    font-size: 100%;
    margin-left: 0;
    margin-right: 0;
    color: #ffffff;
    font-weight: bold;
}


.isolatereporttable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #0b2677;
    margin-bottom: 20px;
}

    .isolatereporttable th, .isolatereporttable td {
        border: 1px solid #0b2677;
        padding: 6px 8px;
        text-align: left;
    }

    .isolatereporttable th {
        background-color: #0b2677;
        color: #fff;
        font-weight: bold;
    }
/*---- Headings ----*/

h1
{
	font-weight: bold;
	color: #0b2677;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size:1.7em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
}

h2
{
	font-weight: bold;
	color: #0b2677;
	margin: 1.5em 0 0 0;
	padding: 0 0 0 0;
	font-size: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
}

h3
{
	font-weight: bold;
	color: #0b2677;
	margin: 4px 0 0 0;
	padding: 0 0 0 0;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
}

/*---- General Links ----*/
a {color: #0000FF; }
a:link {color: #0000FF; text-decoration: none; }
a:visited {color: #0000FF;  text-decoration: none; }
a:hover {color: #0000FF;  text-decoration: underline; }

.Validation {
    color: Red;
    font-weight: bold
}

.para-darkblue-xsmall {
    color: #0b2677;
    font-size: x-small;
}

.para-darkblue-small {
    color: #0b2677;
    font-size: small;
}

.para-darkblue-medium {
    color: #0b2677;
    font-size: medium;
}

.para-darkblue-large {
    color: #0b2677;
    font-size: large;
}

.para-darkblue-xlarge {
    color: #0b2677;
    font-size: x-large;
}