@model SenderViewModel

<h2>Add New Sender</h2>
<br/>

<form asp-action="Create" method="post">
    <div class="form-group d-flex align-items-start mb-3">
        <label for="SenderName" class="width-150">Sender</label>
        <input asp-for="SenderName" class="width-300" />
        <br /><span asp-validation-for="SenderName" class="text-danger d-block"></span>
    </div>

    <div class="form-group d-flex align-items-start mb-3">
        <label for="SenderOrganisation" class="width-150">Sender Organisation</label>
        <textarea asp-for="SenderOrganisation" class="width-300" rows="3" maxlength="200"></textarea>
        <span asp-validation-for="SenderOrganisation" class="text-danger d-block"></span>
    </div>
    <div class="form-group d-flex align-items-start mb-3">
        <label for="SenderAddress" class="width-150">Sender Address</label>
        <textarea asp-for="SenderAddress" class="width-300" rows="5"></textarea>
        <br /><span asp-validation-for="SenderAddress" class="text-danger d-block"></span>
    </div>
    <div class="form-group d-flex align-items-start mb-3">
        <label for="Country" class="width-150">Country</label>
        <select asp-for="Country" asp-items="@Model.CountryList" style="width:307px;">
            <option value="">Select a country</option>
        </select>
        <span asp-validation-for="Country" class="text-danger d-block"></span>
    </div>
    <div class="form-group d-flex align-items-lg-end mb-3">
        <img src="Images\spacer.gif" width="340" height="5" alt="" />
        <button type="submit" class="btnLink me-3">Insert</button>
        <img src="Images\spacer.gif" width="10" height="5" alt="" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>