@{
	ViewData["Title"] = "Report Selection | Virus Isolates Repository";
}

<h2>Available Reports</h2>
<p>Please select the report you wish to view from the options listed below.</p>
<div class="page_links">
<ul class="ps-1">
	<li><a asp-controller="Reports" asp-action="IsolateDispatch">Isolate Dispatch Report</a></li>
</ul>
</div>

