@{
	ViewData["Title"] = "Report Selection | Virus Isolates Repository";
}

<h2>Available Reports</h2>
<p>Please select the report you wish to view from the options listed below.</p>

<table>
	<thead class="sr-only"><tr><th scope="col"></th></tr></thead>
	<tbody>
		<tr>
			<td><img src="~/images/chevron-rt-dkblue.gif" width="3" height="9" alt="" /></td>
			<td><img src="~/images/spacer.gif" width="10" height="5" alt="" /></td>
			<td><a asp-controller="Reports" asp-action="IsolateDispatch">Isolate Dispatch Report</a></td>
		</tr>
	</tbody>
</table>