@model List<LookupViewModel>

<p>Please select the lookup list you wish to manage</p>
<div id="searchResults" class="searchRepo-grid-table ">
<table class="isolatereporttable">
	<thead>
		<tr class=".isolatereport-header">
			<th>Lookup List Name</th>
			<th>&nbsp</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>
						<a asp-action="LookupList" asp-route-lookupid="@item.Id"
					    class="btn btn-primary">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
</div>