
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


-- =============================================
-- Author:		Ian Galloway
-- Create date: 17/04/07
-- Description:	Deletes a Characteristic record
-- =============================================
ALTER PROCEDURE [dbo].[spCharacteristicDelete]
	@UserID varchar(128),
	@CharacteristicId  uniqueidentifier  ,
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogCharacteristic 
	(
		UserID ,
		DateDone ,
		UpdateType ,
 		CharacteristicId  ,
		CharacteristicIsolateId ,
		VirusCharacteristicId ,
		CharacteristicValue  

		)
	SELECT
		@UserID,
		GetDate(),
		'D',
 		CharacteristicId  ,
		CharacteristicIsolateId ,
		VirusCharacteristicId ,
		CharacteristicValue 

	FROM tblCharacteristic 
	WHERE CharacteristicID=@CharacteristicID

	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		DELETE FROM tblCharacteristic 
		WHERE 	
			 CharacteristicID=@CharacteristicID
			AND LastModified=@LastModified
		IF @@ROWCOUNT=0
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END
		ELSE
			COMMIT TRAN
	END
END
