
CREATE OR ALTER  [dbo].[spCharacteristicUpdate]

	@UserID varchar (128) ,
	@CharacteristicId  uniqueidentifier ,
	@CharacteristicIsolateId uniqueidentifier ,
	@VirusCharacteristicId uniqueidentifier ,
	@CharacteristicValue varchar (50) ,
	@LastModified timestamp  OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
     INSERT INTO tblLogCharacteristic
	(
		UserID ,
		DateDone ,
		UpdateType ,
		CharacteristicId  ,
		CharacteristicIsolateId ,
		VirusCharacteristicId ,
		CharacteristicValue 

		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'U',
		@CharacteristicId  ,
		@CharacteristicIsolateId ,
		@VirusCharacteristicId ,
		@CharacteristicValue 

		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
 
		UPDATE tblCharacteristic
			SET
			CharacteristicIsolateId =@CharacteristicIsolateId ,
			VirusCharacteristicId =@VirusCharacteristicId ,
			CharacteristicValue  =@CharacteristicValue  
		WHERE CharacteristicID=@CharacteristicID
		AND LastModified=@LastModified

			
		IF (@@ROWCOUNT= 0) 
		BEGIN
			ROLLBACK TRAN
			RAISERROR(742005, 16, 1)
		END
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblCharacteristic
			WHERE CharacteristicID=@CharacteristicID
			
		END
	END
END
