
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


-- =============================================
-- Author:		Ian Galloway
-- Create date: 17/04/07
-- Description:	Inserts  a Characteristic record
-- =============================================
ALTER PROCEDURE [dbo].[spCharacteristicInsert]

	@UserID varchar (128) ,
	@CharacteristicId  uniqueidentifier ,
	@CharacteristicIsolateId uniqueidentifier ,
	@VirusCharacteristicId uniqueidentifier ,
	@CharacteristicValue varchar (50) ,
	@LastModified timestamp  OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogCharacteristic
	(
		UserID ,
		DateDone ,
		UpdateType ,
		CharacteristicId  ,
		CharacteristicIsolateId ,
		VirusCharacteristicId ,
		CharacteristicValue 

		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'I',
		@CharacteristicId  ,
		@CharacteristicIsolateId ,
		@VirusCharacteristicId ,
		@CharacteristicValue 

		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

    INSERT INTO tblCharacteristic
	(
		CharacteristicId  ,
		CharacteristicIsolateId ,
		VirusCharacteristicId ,
		CharacteristicValue 

		)
	VALUES
		(	
		@CharacteristicId  ,
		@CharacteristicIsolateId ,
		@VirusCharacteristicId ,
		@CharacteristicValue 

		) 
		IF (@@error <> 0) 
			ROLLBACK TRAN
	
		ELSE BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblCharacteristic
			WHERE CharacteristicId =@CharacteristicId  
		END
	END
END
