
CREATE OR ALTER  [dbo].[spDispatchInsert]

	@UserID varchar (128) ,
	@DispatchId  uniqueidentifier  ,
	@DispatchIsolateID uniqueidentifier  ,
	@NoOfAliquots int  ,
	@PassageNumber int  ,
	@Recipient uniqueidentifier ,
	@RecipientName varchar (50)  ,
	@RecipientAddress varchar (500)  ,
	@ReasonForDispatch varchar (50) ,
	@DispatchedDate datetime  ,
	@DispatchedBy uniqueidentifier  ,
	@LastModified timestamp  OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogDispatch
	(
		UserID ,
		DateDone ,
		UpdateType ,
		DispatchId  ,
		DispatchIsolateID ,
		NoOfAliquots ,
		PassageNumber ,
		Recipient ,
		RecipientName  ,
		RecipientAddress  ,
		ReasonForDispatch ,
		DispatchedDate ,
		DispatchedBy 

		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'I',
		@DispatchId  ,
		@DispatchIsolateID ,
		@NoOfAliquots ,
		@PassageNumber ,
		@Recipient ,
		@RecipientName  ,
		@RecipientAddress  ,
		@ReasonForDispatch ,
		@DispatchedDate ,
		@DispatchedBy 

		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

    INSERT INTO tblDispatch
	(
		DispatchId  ,
		DispatchIsolateID ,
		NoOfAliquots ,
		PassageNumber ,
		Recipient ,
		RecipientName  ,
		RecipientAddress  ,
		ReasonForDispatch ,
		DispatchedDate ,
		DispatchedBy 

		)
	VALUES
		(	
		@DispatchId  ,
		@DispatchIsolateID ,
		@NoOfAliquots ,
		@PassageNumber ,
		@Recipient ,
		@RecipientName  ,
		@RecipientAddress  ,
		@ReasonForDispatch ,
		@DispatchedDate ,
		@DispatchedBy
		)
	END
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		UPDATE tblIsolate SET
		NoOfAliquots = NoOfAliquots - @NoOfAliquots
		WHERE IsolateId = @DispatchIsolateID

		IF (@@ROWCOUNT= 0) 
		BEGIN
			ROLLBACK TRAN
			RAISERROR(742005, 16, 1)
		END
		ELSE
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblIsolate 
			WHERE IsolateId = @DispatchIsolateID
		END
	END
END

