
CREATE OR ALTER PROCEDURE  [dbo].[spDispatchUpdate]
	@UserID varchar (128) ,
	@DispatchId  uniqueidentifier  ,
	@DispatchIsolateID uniqueidentifier  ,
	@NoOfAliquots int  ,
	@PassageNumber int  ,
	@Recipient uniqueidentifier  ,
	@RecipientName varchar (50)  ,
	@RecipientAddress varchar (500)  ,
	@ReasonForDispatch varchar (50) ,
	@DispatchedDate datetime  ,
	@DispatchedBy uniqueidentifier  ,
	@LastModified timestamp  OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogDispatch
	(
		UserID ,
		DateDone ,
		UpdateType ,
		DispatchId  ,
		DispatchIsolateID ,
		NoOfAliquots ,
		PassageNumber ,
		Recipient ,
		RecipientName  ,
		RecipientAddress  ,
		ReasonForDispatch ,
		DispatchedDate ,
		DispatchedBy 
		)
		VALUES
		(	
		@UserID,
		GetDate(),
		'U',
		@DispatchId  ,
		@DispatchIsolateID ,
		@NoOfAliquots ,
		@PassageNumber ,
		@Recipient ,
		@RecipientName  ,
		@RecipientAddress  ,
		@ReasonForDispatch ,
		@DispatchedDate ,
		@DispatchedBy 
		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		UPDATE tblDispatch SET
		DispatchIsolateID  = @DispatchIsolateID  ,
		NoOfAliquots  = @NoOfAliquots  ,
		PassageNumber  = @PassageNumber  ,
		Recipient  = @Recipient  ,
		RecipientName   = @RecipientName   ,
		RecipientAddress   = @RecipientAddress   ,
		ReasonForDispatch  = @ReasonForDispatch  ,
		DispatchedDate  = @DispatchedDate  ,
		DispatchedBy  = @DispatchedBy  
		WHERE DispatchID=@DispatchID
		AND LastModified=@LastModified

		IF (@@ROWCOUNT= 0) 
		BEGIN
			ROLLBACK TRAN
			RAISERROR(742005, 16, 1)
		END
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblDispatch
			WHERE DispatchID=@DispatchID
		END
	END
END
