
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


-- =============================================
-- Author:		Ian Galloway
-- Create date: 17/04/07
-- Description:	Deletes an Dispatch record
-- =============================================
ALTER PROCEDURE [dbo].[spDispatchDelete]
	@UserID varchar(128),
	@DispatchId  uniqueidentifier  ,
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogDispatch
	(
		UserID ,
		DateDone ,
		UpdateType ,
 		DispatchId  ,
		DispatchIsolateID ,
		NoOfAliquots ,
		PassageNumber ,
		RecipientName  ,
		RecipientAddress  ,
		ReasonForDispatch ,
		DispatchedDate ,
		DispatchedBy 
 		)
	SELECT
		@UserID,
		GetDate(),
		'D',
		DispatchId  ,
		DispatchIsolateID ,
		NoOfAliquots ,
		PassageNumber ,
		RecipientName  ,
		RecipientAddress  ,
		ReasonForDispatch ,
		DispatchedDate ,
		DispatchedBy 


	FROM tblDispatch
	WHERE DispatchID=@DispatchID

	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		DELETE FROM tblDispatch
		WHERE 	
			 DispatchID=@DispatchID
			AND LastModified=@LastModified
		IF @@ROWCOUNT=0
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END
		ELSE
			COMMIT TRAN
	END
END
