
CREATE OR ALTER  [dbo].[spIsolateRelocateByIsolate]
	@UserID varchar(128),
	@IsolateId  uniqueidentifier  ,
	@Freezer uniqueidentifier,
	@Tray uniqueidentifier ,
	@Well varchar (10) ,
	@LastModified timestamp OUTPUT,
	@FreezerName varchar(100) OUTPUT,
	@TrayName varchar(100) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogIsolate
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		Freezer ,
		Tray ,
		Well ,
		IsolateNomenclature
	)
	SELECT 
		@UserID,
		GetDate(),
		'U',
		@IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		@Freezer ,
		@Tray ,
		@Well ,
		IsolateNomenclature
	FROM tblIsolate
	WHERE IsolateId = @IsolateID
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
    	UPDATE tblIsolate
		SET
   			Freezer = @Freezer ,
   			Tray = @Tray ,
   			Well = @Well  
		WHERE
			IsolateId   = @IsolateId  AND 
			LastModified = @LastModified
		IF (@@ROWCOUNT = 0) 
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified = LastModified
			FROM tblIsolate
			WHERE IsolateId = @IsolateId  

			SELECT @FreezerName=[Name]
			FROM tlkpFreezer
			WHERE ID=@Freezer

			SELECT @TrayName=[Name]
			FROM tlkpTray
			WHERE ID=@Tray

		END
	END
END
