
CREATE OR ALTER  [dbo].[spIsolateViabilityInsert]

	@UserID varchar (128) ,
	@IsolateViabilityId  uniqueidentifier ,
	@IsolateViabilityIsolateID uniqueidentifier ,
	@Viable uniqueidentifier ,
	@DateChecked datetime ,
	@CheckedByID uniqueidentifier ,
	@LastModified timestamp  OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogIsolateViability 
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateViabilityId  ,
		IsolateViabilityIsolateID ,
		Viable ,
		DateChecked ,
		CheckedByID 
		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'I',
		@IsolateViabilityId  ,
		@IsolateViabilityIsolateID ,
		@Viable ,
		@DateChecked ,
		@CheckedByID 
		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

    INSERT INTO tblIsolateViability 
	(
		IsolateViabilityId  ,
		IsolateViabilityIsolateID ,
		Viable ,
		DateChecked ,
		CheckedByID 
		)
	VALUES
		(	
		@IsolateViabilityId  ,
		@IsolateViabilityIsolateID ,
		@Viable ,
		@DateChecked ,
		@CheckedByID 
		) 
		IF (@@error <> 0) 
			ROLLBACK TRAN
		ELSE BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblIsolateViability
			WHERE IsolateViabilityID =@IsolateViabilityID 
		END
	END
END

