
CREATE OR ALTER  [dbo].[spIsolateInsert]
	@UserID varchar(128),
	@IsolateId  uniqueidentifier  ,
	@IsolateSampleId uniqueidentifier ,
	@IsolateNumber int,
	@Family uniqueidentifier ,
	@Type uniqueidentifier  ,
	@YearOfIsolation int,
	@IsMixedIsolate bit,
	@IsolationMethod uniqueidentifier ,
	@AntiserumProduced bit ,
	@AntigenProduced bit ,
	@PhylogeneticAnalysis text ,
	@MaterialTransferAgreement bit ,
	@MTALocation varchar (500) ,
	@Comment text ,
	@ValidToIssue bit ,
	@WhyNotValidToIssue varchar (50) ,
	@OriginalSampleAvailable bit ,
	@FirstViablePassageNumber int  ,
	@NoOfAliquots int ,
	@Freezer uniqueidentifier,
	@Tray uniqueidentifier ,
	@Well varchar (10) ,
	@IsolateNomenclature varchar (200) ,
	@SMSReferenceNumber Varchar(20) ,
	@PhylogeneticFileName Varchar(100),
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogIsolate
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsMixedIsolate ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		Freezer ,
		Tray ,
		Well ,
		IsolateNomenclature,
		DateCreated,
		CreatedBy,
		SMSReferenceNumber,
		PhylogeneticFileName
		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'I',
		@IsolateId  ,
		@IsolateSampleId ,
		@IsolateNumber,
		@Family ,
		@Type ,
		@YearOfIsolation ,
		@IsMixedIsolate ,
		@IsolationMethod ,
		@AntiserumProduced ,
		@AntigenProduced ,
		@PhylogeneticAnalysis ,
		@MaterialTransferAgreement ,
		@MTALocation ,
		@Comment ,
		@ValidToIssue ,
		@WhyNotValidToIssue ,
		@OriginalSampleAvailable,
		@FirstViablePassageNumber ,
		@NoOfAliquots ,
		@Freezer ,
		@Tray ,
		@Well ,
		@IsolateNomenclature ,
		GetDate(),
		@UserID,
		@SMSReferenceNumber,
		@PhylogeneticFileName
			) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

    INSERT INTO tblIsolate
	(
		IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsMixedIsolate ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		Freezer ,
		Tray ,
		Well ,
		IsolateNomenclature,
		DateCreated ,
		CreatedBy ,
		SMSReferenceNumber ,
		PhylogeneticFileName
		)
	VALUES
		(	
		@IsolateId  ,
		@IsolateSampleId ,
		@IsolateNumber,
		@Family ,
		@Type ,
		@YearOfIsolation ,
		@IsMixedIsolate ,
		@IsolationMethod ,
		@AntiserumProduced ,
		@AntigenProduced ,
		@PhylogeneticAnalysis ,
		@MaterialTransferAgreement ,
		@MTALocation ,
		@Comment ,
		@ValidToIssue ,
		@WhyNotValidToIssue ,
		@OriginalSampleAvailable,
		@FirstViablePassageNumber ,
		@NoOfAliquots ,
		@Freezer ,
		@Tray ,
		@Well ,
		@IsolateNomenclature,
		GetDate(),
		@UserID ,
		@SMSReferenceNumber,
		@PhylogeneticFileName
		) 
		IF (@@error <> 0) 
			ROLLBACK TRAN
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblIsolate
			WHERE IsolateId  =@IsolateId  
		END
	END
END
