
CREATE OR ALTER  [dbo].[spIsolateUpdate]
	@UserID varchar(128),
	@IsolateId  uniqueidentifier  ,
	@IsolateSampleId uniqueidentifier ,
	@IsolateNumber int,
	@Family uniqueidentifier ,
	@Type uniqueidentifier  ,
	@YearOfIsolation int,
	@IsMixedIsolate bit,
	@IsolationMethod uniqueidentifier ,
	@AntiserumProduced bit ,
	@AntigenProduced bit ,
	@PhylogeneticAnalysis text ,
	@MaterialTransferAgreement bit ,
	@MTALocation varchar (500) ,
	@Comment text ,
	@ValidToIssue bit ,
	@WhyNotValidToIssue varchar (50) ,
	@OriginalSampleAvailable bit ,
	@FirstViablePassageNumber int  ,
	@NoOfAliquots int ,
	@Freezer uniqueidentifier,
	@Tray uniqueidentifier ,
	@Well varchar (10) ,
	@IsolateNomenclature varchar(200) , 
	@SMSReferenceNumber varchar(20) ,
	@PhylogeneticFileName varchar(100) ,
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogIsolate
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsMixedIsolate ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		Freezer ,
		Tray ,
		Well ,
		IsolateNomenclature ,
		SMSReferenceNumber ,
		PhylogeneticFileName
		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'U',
		@IsolateId  ,
		@IsolateSampleId ,
		@IsolateNumber,
		@Family ,
		@Type ,
		@YearOfIsolation ,
		@IsMixedIsolate ,
		@IsolationMethod ,
		@AntiserumProduced ,
		@AntigenProduced ,
		@PhylogeneticAnalysis ,
		@MaterialTransferAgreement ,
		@MTALocation ,
		@Comment ,
		@ValidToIssue ,
		@WhyNotValidToIssue ,
		@OriginalSampleAvailable,
		@FirstViablePassageNumber ,
		@NoOfAliquots ,
		@Freezer ,
		@Tray ,
		@Well ,
		@IsolateNomenclature ,
		@SMSReferenceNumber ,
		@PhylogeneticFileName
		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

    	UPDATE tblIsolate
		SET
   			IsolateSampleId  = @IsolateSampleId  ,
			IsolateNumber = @IsolateNumber,
   			Family  = @Family  ,
   			Type  = @Type  ,
			YearOfIsolation  = @YearOfIsolation  ,
			IsMixedIsolate = @IsMixedIsolate ,
   			IsolationMethod  = @IsolationMethod  ,
   			AntiserumProduced  = @AntiserumProduced  ,
   			AntigenProduced  = @AntigenProduced  ,
   			PhylogeneticAnalysis  = @PhylogeneticAnalysis  ,
   			MaterialTransferAgreement  = @MaterialTransferAgreement  ,
   			MTALocation  = @MTALocation  ,
   			Comment  = @Comment  ,
   			ValidToIssue  = @ValidToIssue  ,
   			WhyNotValidToIssue  = @WhyNotValidToIssue  ,
   			OriginalSampleAvailable = @OriginalSampleAvailable ,
   			FirstViablePassageNumber  = @FirstViablePassageNumber  ,
   			NoOfAliquots  = @NoOfAliquots  ,
   			Freezer  = @Freezer  ,
   			Tray  = @Tray  ,
   			Well  = @Well  ,
			IsolateNomenclature = @IsolateNomenclature ,
			SMSReferencenumber = @SMSReferenceNumber ,
			PhylogeneticFileName = @PhylogeneticFileName
		WHERE
			IsolateId   = @IsolateId  AND 
			LastModified = @LastModified

		IF (@@ROWCOUNT = 0) 
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblIsolate
			WHERE IsolateId  =@IsolateId  
		END
	END
END
