
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



-- =============================================
-- Author:		Ian Galloway
-- Create date: 17/04/07
-- Description:	Updates a IsolateViability record
-- =============================================
ALTER PROCEDURE [dbo].[spIsolateViabilityUpdate]

	@UserID varchar (128) ,
	@IsolateViabilityId  uniqueidentifier ,
	@IsolateViabilityIsolateID uniqueidentifier ,
	@Viable uniqueidentifier ,
	@DateChecked datetime ,
	@CheckedByID uniqueidentifier ,
	@LastModified timestamp  OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogIsolateViability 
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateViabilityId  ,
		IsolateViabilityIsolateID ,
		Viable ,
		DateChecked ,
		CheckedByID 
		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'U',
		@IsolateViabilityId  ,
		@IsolateViabilityIsolateID ,
		@Viable ,
		@DateChecked ,
		@CheckedByID 
		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

 		UPDATE tblIsolateViability
		SET
			IsolateViabilityIsolateID  =@IsolateViabilityIsolateID ,
			Viable =@Viable ,
			DateChecked =@DateChecked ,
			CheckedByID =@CheckedByID 

		WHERE IsolateViabilityID=@IsolateViabilityID
		AND LastModified=@LastModified

			
		IF (@@ROWCOUNT= 0) 
		BEGIN
			ROLLBACK TRAN
			RAISERROR(742005, 16, 1)
		END
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblIsolateViability
			WHERE IsolateViabilityID=@IsolateViabilityID
			
		END
	END
END
