
CREATE OR ALTER  [dbo].[spIsolateViabilityDelete]
	@UserID varchar(128),
	@IsolateViabilityId  uniqueidentifier  ,
	@LastModified timestamp 
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogIsolateViability 
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateViabilityId  ,
		IsolateViabilityIsolateID ,
		Viable ,
		DateChecked ,
 		CheckedByID 
		)
	SELECT
		@UserID,
		GetDate(),
		'D',
		IsolateViabilityId  ,
		IsolateViabilityIsolateID ,
		Viable ,
		DateChecked ,
 		CheckedByID 

	FROM tblIsolateViability  
	WHERE IsolateViabilityID=@IsolateViabilityID

	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		DELETE FROM tblIsolateViability  
		WHERE 	
			 IsolateViabilityID=@IsolateViabilityID
			AND LastModified=@LastModified
		IF @@ROWCOUNT=0
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END
		ELSE
			COMMIT TRAN
	END
END
