
CREATE OR ALTER  [dbo].[spIsolateDelete]
	@UserID varchar(128),
	@IsolateId  uniqueidentifier  ,
	@LastModified timestamp OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRAN

	DECLARE @IVID AS UNIQUEIDENTIFIER
	DECLARE @LM AS TIMESTAMP
	DECLARE @CID AS UNIQUEIDENTIFIER

    INSERT INTO tblLogIsolate
	(
		UserID ,
		DateDone ,
		UpdateType ,
		IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsMixedIsolate ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		Freezer ,
		Tray ,
		Well ,
		IsolateNomenclature
		)
	SELECT
		@UserID,
		GetDate(),
		'D',
		IsolateId  ,
		IsolateSampleId ,
		IsolateNumber,
		Family ,
		Type ,
		YearOfIsolation ,
		IsMixedIsolate ,
		IsolationMethod ,
		AntiserumProduced ,
		AntigenProduced ,
		PhylogeneticAnalysis ,
		MaterialTransferAgreement ,
		MTALocation ,
		Comment ,
		ValidToIssue ,
		WhyNotValidToIssue ,
		OriginalSampleAvailable,
		FirstViablePassageNumber ,
		NoOfAliquots ,
		Freezer ,
		Tray ,
		Well ,
		IsolateNomenclature
	FROM tblIsolate
	WHERE IsolateID=@IsolateID

	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		DECLARE CharacteristicCursor CURSOR
  		 FOR SELECT CharacteristicID,LastModified FROM tblCharacteristic WHERE CharacteristicIsolateID=@IsolateID 
		
		OPEN CharacteristicCursor
		FETCH NEXT FROM CharacteristicCursor INTO @CID,@LM
		WHILE @@FETCH_STATUS = 0
		BEGIN
			EXEC spCharacteristicDelete @UserID ,@CID,@LM
			FETCH NEXT FROM CharacteristicCursor INTO @CID,@LM
		END
		CLOSE 	CharacteristicCursor
		DEALLOCATE CharacteristicCursor
	END	

	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

		DECLARE IsolateViabilityCursor CURSOR
  		 FOR SELECT IsolateViabilityId,LastModified FROM tblIsolateViability WHERE IsolateViabilityIsolateID=@IsolateID 
		
		OPEN IsolateViabilityCursor
		FETCH NEXT FROM IsolateViabilityCursor INTO @IVID,@LM
		WHILE @@FETCH_STATUS = 0
		BEGIN
			EXEC spIsolateViabilityDelete @UserID ,@IVID,@LM
			FETCH NEXT FROM IsolateViabilityCursor INTO @IVID,@LM
		END
		CLOSE 	IsolateViabilityCursor
		DEALLOCATE IsolateViabilityCursor
	END	

	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
		DELETE FROM tblIsolate
		WHERE 	
			IsolateID=@IsolateID
			AND LastModified=@LastModified
		IF @@ROWCOUNT=0
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END
		ELSE
			COMMIT TRAN
	END
END
