
GO
/****** Object:  StoredProcedure [dbo].[spIsolateCharacteristicsInsert]    Script Date: 9/17/2025 4:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Vincent Adcock
-- Create date: 26/04/2007
-- Description:	Populates the list of characteristics for the specified virus isolate
-- =============================================
ALTER PROCEDURE [dbo].[spIsolateCharacteristicsInsert] 
	@IsolateId uniqueidentifier,
	@Type uniqueidentifier,
	@UserID varchar(128)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CharacteristicId uniqueidentifier
	DECLARE @Id uniqueidentifier
	DECLARE @LastModified as timestamp
	DECLARE CharacteristicCursor CURSOR FOR
	SELECT VC.Id
	FROM tlkpVirusCharacteristic VC
	INNER JOIN tlnkVirusTypeCharacteristic VTC ON VTC.VirusCharacteristicId = VC.Id
	WHERE VTC.VirusTypeId = @Type

	OPEN CharacteristicCursor

	FETCH NEXT FROM CharacteristicCursor 
	INTO @CharacteristicId

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Id = NEWID()

		EXEC dbo.spCharacteristicInsert @UserId, @Id, @IsolateId, @CharacteristicId, Null, @LastModified
				
		FETCH NEXT FROM CharacteristicCursor 
		INTO @CharacteristicId
	END 
	
	CLOSE CharacteristicCursor
	
	DEALLOCATE CharacteristicCursor
END

