
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[spLogCharacteristicsGetBySearch] 
	
	@AVNumber varchar(20),
	@DateFrom DateTime,
	@DateTo dateTime,
	@UserId varchar(128)
AS
	SELECT DISTINCT 
	                      tblLogSubmission.AVNumber, 
	                      tblLogSample.SampleNumber,
	                      tblLogIsolate.IsolateNumber,
	                      tblLogCharacteristic.LogID, 
	                      tblLogCharacteristic.UserID, 
	                      tblLogCharacteristic.DateDone, 
	                      tlkpLogUpdateType.UpdateDescription as UpdateType, 
	                      tblLogCharacteristic.CharacteristicId, 
	                      tblLogCharacteristic.CharacteristicIsolateId, 
                          tblLogCharacteristic.CharacteristicValue, 
	                      tlkpVirusCharacteristic.Name AS VirusCharacteristic
	FROM                  tblLogSubmission INNER JOIN
	                      tblLogSample ON tblLogSubmission.SubmissionId = tblLogSample.SampleSubmissionId INNER JOIN
	                      tblLogIsolate ON tblLogSample.SampleId = tblLogIsolate.IsolateSampleId INNER JOIN
	                      tblLogCharacteristic ON tblLogIsolate.IsolateId = tblLogCharacteristic.CharacteristicIsolateId LEFT OUTER JOIN
	                      tlkpVirusCharacteristic ON tblLogCharacteristic.VirusCharacteristicId = tlkpVirusCharacteristic.Id LEFT OUTER JOIN
	                      tlkpLogUpdateType ON tblLogCharacteristic.UpdateType = tlkpLogUpdateType.UpdateType
	WHERE				(tblLogSubmission.AVNumber = @AVNumber)
	AND					(tblLogCharacteristic.DateDone >= @DateFrom) 
	AND					(tblLogCharacteristic.DateDone < @DateTo) 
	AND                 (tblLogCharacteristic.UserID LIKE @UserId)
    AND                 (tblLogSubmission.UpdateType = 'I')
	AND                 (tblLogSample.UpdateType = 'I')
	AND				    (tblLogIsolate.UpdateType = 'I')
	ORDER BY tblLogSubmission.AVNumber, tblLogSample.SampleNumber, tblLogIsolate.IsolateNumber, tblLogCharacteristic.DateDone desc
	RETURN
