
GO
/****** Object:  StoredProcedure [dbo].[spLogSampleGetBySearch]    Script Date: 9/17/2025 4:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[spLogSampleGetBySearch] 

	@AVNumber varchar(20),
	@DateFrom DateTime,
	@DateTo dateTime,
	@UserId varchar(128)

AS
	/* SET NOCOUNT ON */ 
	SELECT DISTINCT 
	                      tblLogSubmission.AVNumber, 
	                      tblLogSample.SampleNumber,
	                      tblLogSample.LogID, 
	                      tblLogSample.UserID, 
	                      tblLogSample.DateDone, 
	                      tblLogSample.SampleId,
	                      tblLogSample.SampleSubmissionId,
	                      tblLogSample.SMSReferenceNumber, 
	                      tblLogSample.SenderReferenceNumber, 
	                      tblLogSample.SamplingLocationHouse, 
	                      tlkpSampleType.Name AS SampleType, 
	                      tlkpHostPurpose.Name AS HostPurpose, 
	                      tlkpHostBreed.Name AS HostBreed, 
	                      tlkpHostSpecies.Name AS HostSpecies, 
	                      tlkpLogUpdateType.UpdateDescription AS UpdateType
	FROM         tlkpHostBreed RIGHT OUTER JOIN
	                      tblLogSubmission INNER JOIN
	                      tblLogSample ON tblLogSubmission.SubmissionId = tblLogSample.SampleSubmissionId INNER JOIN
	                      tlkpLogUpdateType ON tblLogSample.UpdateType = tlkpLogUpdateType.UpdateType LEFT OUTER JOIN
	                      tlkpHostPurpose ON tblLogSample.HostPurpose = tlkpHostPurpose.Id ON 
	                      tlkpHostBreed.Id = tblLogSample.HostBreed LEFT OUTER JOIN
	                      tlkpHostSpecies ON tblLogSample.HostSpecies = tlkpHostSpecies.Id LEFT OUTER JOIN
	                      tlkpSampleType ON tblLogSample.SampleType = tlkpSampleType.Id
	WHERE (tblLogSample.UserID LIKE @UserId) 
	AND (tblLogSample.DateDone >= @DateFrom) 
	AND (tblLogSample.DateDone < @DateTo) 
	AND (tblLogSubmission.AVNumber = @AVNumber)
	AND (tblLogSubmission.UpdateType = 'I')
	ORDER BY tblLogSubmission.AVNumber, tblLogSample.SampleNumber, tblLogSample.DateDone desc  
	
	
	RETURN

