
GO
/****** Object:  StoredProcedure [dbo].[spLogIsolateViabilityGetBySearch]    Script Date: 9/17/2025 4:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[spLogIsolateViabilityGetBySearch] 

	@AVNumber varchar(20),
	@DateFrom DateTime,
	@DateTo dateTime,
	@UserId varchar(128)
AS
	SELECT DISTINCT 
	                      tblLogSubmission.AVNumber, 
	                      tblLogSample.SampleNumber,
	                      tblLogIsolate.IsolateNumber,
	                      tblLogIsolateViability.LogID, 
	                      tblLogIsolateViability.UserID, 
	                      tblLogIsolateViability.DateDone, 
	                      tlkpLogUpdateType.UpdateDescription as UpdateType, 
	                      tblLogIsolateViability.IsolateViabilityId, 
	                      tblLogIsolateViability.IsolateViabilityIsolateId, 
                          tlkpViability.Name as Viable,
                          tblLogIsolateViability.DateChecked,
	                      tlkpStaff.Name AS CheckedBy
	FROM                  tblLogSubmission INNER JOIN
	                      tblLogSample ON tblLogSubmission.SubmissionId = tblLogSample.SampleSubmissionId INNER JOIN
	                      tblLogIsolate ON tblLogSample.SampleId = tblLogIsolate.IsolateSampleId INNER JOIN
	                      tblLogIsolateViability ON tblLogIsolate.IsolateId = tblLogIsolateViability.IsolateViabilityIsolateId LEFT OUTER JOIN
	                      tlkpStaff ON tblLogIsolateViability.CheckedByID = tlkpStaff.Id LEFT OUTER JOIN
	                      tlkpLogUpdateType ON tblLogIsolateViability.UpdateType = tlkpLogUpdateType.UpdateType LEFT OUTER JOIN
	                      tlkpViability ON tblLogIsolateViability.Viable = tlkpViability.ID
	WHERE				(tblLogIsolateViability.UserID LIKE @UserId) 
	AND					(tblLogIsolateViability.DateDone >= @DateFrom) 
	AND					(tblLogIsolateViability.DateDone < @DateTo) 
	AND                 (tblLogSubmission.AVNumber = @AVNumber)
	AND                 (tblLogSubmission.UpdateType = 'I')
	AND                 (tblLogSample.UpdateType = 'I')
	AND				    (tblLogIsolate.UpdateType = 'I')
	ORDER BY tblLogSubmission.AVNumber, tblLogSample.SampleNumber, tblLogIsolate.IsolateNumber, tblLogIsolateViability.DateDone desc
	RETURN
