
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[spLogDispatchGetBySearch] 
	
	@AVNumber varchar(20),
	@DateFrom DateTime,
	@DateTo dateTime,
	@UserId varchar(128)
AS
	SELECT DISTINCT 
	                      tblLogSubmission.AVNumber,
	                      tblLogSample.SampleNumber,
	                      tblLogIsolate.IsolateNumber,
	                      tblLogDispatch.LogID, 
	                      tblLogDispatch.UserID, 
	                      tblLogDispatch.DateDone, 
	                      tlkpLogUpdateType.UpdateDescription as UpdateType, 
	                      tblLogDispatch.DispatchId, 
	                      tblLogDispatch.DispatchIsolateId, 
                          tblLogDispatch.NoOfAliquots,
                          tblLogDispatch.PassageNumber,
                          tblLogDispatch.RecipientName,
                          tblLogDispatch.RecipientAddress,
                          tblLogDispatch.ReasonForDispatch,
                          tblLogDispatch.DispatchedDate,
	                      tlkpStaff.Name AS DispatchedBy
	FROM                  tblLogSubmission INNER JOIN
	                      tblLogSample ON tblLogSubmission.SubmissionId = tblLogSample.SampleSubmissionId INNER JOIN
	                      tblLogIsolate ON tblLogSample.SampleId = tblLogIsolate.IsolateSampleId INNER JOIN
	                      tblLogDispatch ON tblLogIsolate.IsolateId = tblLogDispatch.DispatchIsolateId LEFT OUTER JOIN
	                      tlkpStaff ON tblLogDispatch.DispatchedBy = tlkpStaff.Id LEFT OUTER JOIN
	                      tlkpLogUpdateType ON tblLogDispatch.UpdateType = tlkpLogUpdateType.UpdateType
	WHERE				(tblLogDispatch.UserID LIKE @UserId) 
	AND					(tblLogDispatch.DateDone >= @DateFrom) 
	AND					(tblLogDispatch.DateDone < @DateTo) 
	AND                 (tblLogSubmission.AVNumber = @AVNumber)
	AND                 (tblLogSubmission.UpdateType = 'I')
	AND                 (tblLogSample.UpdateType = 'I')
	AND				    (tblLogIsolate.UpdateType = 'I')
	ORDER BY tblLogSubmission.AVNumber, tblLogSample.SampleNumber, tblLogIsolate.IsolateNumber, tblLogDispatch.DateDone desc
	RETURN
