
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[spLogIsolateGetBySearch]
	
	@AVNumber varchar(20),
	@DateFrom DateTime,
	@DateTo dateTime,
	@UserId varchar(128)
AS
SELECT DISTINCT 
	                      tblLogSubmission.AVNumber, 
	                      tblLogSample.SampleNumber,
	                      tblLogIsolate.IsolateNumber,
	                      tblLogIsolate.LogID, 
	                      tblLogIsolate.UserID, 
	                      tblLogIsolate.DateDone, 
	                      tlkpLogUpdateType.UpdateDescription as UpdateType, 
	                      tblLogIsolate.IsolateId, 
	                      tblLogIsolate.IsolateSampleId, 
	                      tblLogIsolate.YearOfIsolation, 
	                      tblLogIsolate.AntiserumProduced, 
	                      tblLogIsolate.AntigenProduced, 
	                      tblLogIsolate.MaterialTransferAgreement, 
	                      tblLogIsolate.MTALocation, 
	                      tblLogIsolate.ValidToIssue, 
	                      tblLogIsolate.WhyNotValidToIssue, 
	                      tblLogIsolate.OriginalSampleAvailable, 
	                      tblLogIsolate.FirstViablePassageNumber, 
	                      tblLogIsolate.NoOfAliquots, 
	                      tblLogIsolate.Well, 
	                      tblLogIsolate.IsolateNomenclature,
	                      tblLogIsolate.SMSReferenceNumber,
	                      tblLogIsolate.PhylogeneticFileName,
	                      tlkpTray.Name as tray, 
	                      tlkpFreezer.Name AS Freezer, 
	                      tlkpVirusType.Name AS Type, 
	                      tlkpVirusFamily.Name AS Family, 
	                      tlkpIsolationMethod.Name AS IsolationMethod
	FROM         tblLogSubmission INNER JOIN
	                      tblLogSample ON tblLogSubmission.SubmissionId = tblLogSample.SampleSubmissionId INNER JOIN
	                      tblLogIsolate ON tblLogSample.SampleId = tblLogIsolate.IsolateSampleId LEFT OUTER JOIN
	                      tlkpTray ON tblLogIsolate.Tray = tlkpTray.Id LEFT OUTER JOIN
	                      tlkpFreezer ON tblLogIsolate.Freezer = tlkpFreezer.Id LEFT OUTER JOIN
	                      tlkpVirusType ON tblLogIsolate.Type = tlkpVirusType.Id LEFT OUTER JOIN
	                      tlkpVirusFamily ON tblLogIsolate.Family = tlkpVirusFamily.Id LEFT OUTER JOIN
	                      tlkpIsolationMethod ON tblLogIsolate.IsolationMethod = tlkpIsolationMethod.Id LEFT OUTER JOIN
	                      tlkpLogUpdateType ON tblLogIsolate.UpdateType = tlkpLogUpdateType.UpdateType
	WHERE     (tblLogIsolate.UserID LIKE @UserId) 
	AND (tblLogIsolate.DateDone >= @DateFrom) 
	AND (tblLogIsolate.DateDone < @DateTo) 
	AND (tblLogSubmission.AVNumber = @AVNumber)
	AND (tblLogSubmission.UpdateType = 'I')
	AND (tblLogSample.UpdateType = 'I')
	ORDER BY tblLogSubmission.AVNumber, tblLogSample.SampleNumber, tblLogIsolate.IsolateNumber, tblLogIsolate.DateDone desc
	RETURN
