
CREATE OR ALTER PROCEDURE  [dbo].[spLogSubmissionGetBySearch]

	@AVNumber varchar(20),
	@DateFrom DateTime,
	@DateTo dateTime,
	@UserId varchar(128)
	
AS

	 SELECT tblLogSubmission.LogID, 
			tblLogSubmission.UserID, 
			tblLogSubmission.DateDone, 
			tblLogSubmission.SubmissionId, 
	        tblLogSubmission.AVNumber, 
	        tblLogSubmission.SendersReferenceNumber, 
	        tblLogSubmission.RLReferenceNumber, 
	        tblLogSubmission.Sender, 
	        tblLogSubmission.SenderOrganisation, 
	        tblLogSubmission.SenderAddress, 
	        tblLogSubmission.DateSubmissionReceived, 
	        tblLogSubmission.CPHNumber, 
	        tblLogSubmission.Owner, 
	        tblLogSubmission.SamplingLocationPremises, 
	        tblLogSubmission.NumberOfSamples, 
	        tlkpLogUpdateType.UpdateDescription AS UpdateType, 
	        tlkpSubmissionReason.Name AS ReasonForSubmission, 
	        tlkpSubmittingLab.Name AS SubmittingLab, 
	        tlkpCountry.Name AS CountryOfOrigin, 
	        tlkpCountry_1.Name AS SubmittingCountry
	      FROM     tlkpLogUpdateType RIGHT OUTER JOIN
	                        tlkpSubmittingLab RIGHT OUTER JOIN
	                        tblLogSubmission LEFT OUTER JOIN
	                        tlkpCountry AS tlkpCountry_1 ON tblLogSubmission.SubmittingCountry = tlkpCountry_1.Id LEFT OUTER JOIN
	                        tlkpCountry ON tblLogSubmission.CountryOfOrigin = tlkpCountry.Id ON 
	                        tlkpSubmittingLab.Id = tblLogSubmission.SubmittingLab LEFT OUTER JOIN
	                        tlkpSubmissionReason ON tblLogSubmission.ReasonForSubmission = tlkpSubmissionReason.Id ON 
	                        tlkpLogUpdateType.UpdateType = tblLogSubmission.UpdateType
	      WHERE tblLogSubmission.AVNumber = @AVNumber
	      AND UserID like @UserId
	      AND DateDone >= @DateFrom
	      AND DateDone < @DateTo
	      ORDER BY AVNumber asc, DateDone desc  
	                            
	 
	RETURN

