
CREATE OR ALTER  [dbo].[spSampleDelete] 
	@UserID varchar(128),
	@SampleId  uniqueidentifier  ,
	@LastModified timestamp

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogSample
	(
		UserID ,
		DateDone ,
		UpdateType ,
		SampleId   ,
		SampleSubmissionId  ,
		SampleNumber,
		SMSReferenceNumber ,
		SenderReferenceNumber ,
		SampleType ,
		HostSpecies  ,
		HostBreed  ,
		HostPurpose ,
		SamplingLocationHouse   
		)
	SELECT	
		@UserID,
		GetDate(),
		'D',
		SampleId   ,
		SampleSubmissionId  ,
		SampleNumber,
		SMSReferenceNumber    ,
		SenderReferenceNumber   ,
		SampleType ,
		HostSpecies  ,
		HostBreed  ,	
		HostPurpose ,
		SamplingLocationHouse  
	FROM tblSample
	WHERE SampleID=@SampleID

		
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN	

    		DELETE FROM  tblSample
			WHERE
				SampleId     =  @SampleId     
				and LastModified =@LastModified 

		IF @@ROWCOUNT=0
		BEGIN
			ROLLBACK TRAN
			RAISERROR(742005, 16, 1)
		END
		ELSE
			COMMIT TRAN

	END
END
