
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ian Galloway
-- Create date: 10/04/07
-- Description:	Updates a sample record
-- =============================================
ALTER PROCEDURE [dbo].[spSampleUpdate]
	@UserID varchar(128),
	@SampleId  uniqueidentifier ,
	@SampleSubmissionId uniqueidentifier ,
	@SampleNumber int,
	@SMSReferenceNumber varchar (30)  ,
	@SenderReferenceNumber varchar (50)  ,
	@SampleType uniqueidentifier,
	@HostSpecies uniqueidentifier ,
	@HostBreed uniqueidentifier ,
	@HostPurpose uniqueidentifier,
	@SamplingLocationHouse varchar (50)  ,
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
   		INSERT INTO tblLogSample
			(
			UserID ,
			DateDone ,
			UpdateType ,
			SampleId   ,
			SampleSubmissionId  ,
			SampleNumber,
			SMSReferenceNumber ,
			SenderReferenceNumber ,
			SampleType ,
			HostSpecies  ,
			HostBreed  ,
			HostPurpose ,
			SamplingLocationHouse   
			)
		VALUES
			(	
			@UserID,
			GetDate(),
			'U',
			@SampleId   ,
			@SampleSubmissionId  ,
			@SampleNumber,
			@SMSReferenceNumber    ,
			@SenderReferenceNumber   ,
			@SampleType ,
			@HostSpecies  ,
			@HostBreed  ,	
			@HostPurpose ,
			@SamplingLocationHouse  
			) 
		IF (@@error <> 0) 
			ROLLBACK TRAN
		ELSE
			BEGIN
    			UPDATE  tblSample
				SET
				SampleSubmissionId	=@SampleSubmissionId  ,
				SampleNumber = @SampleNumber,
				SMSReferenceNumber =@SMSReferenceNumber ,
				SenderReferenceNumber 	=@SenderReferenceNumber ,
				SampleType 	=@SampleType ,
				HostSpecies =@HostSpecies  ,
				HostBreed  =@HostBreed  ,
				HostPurpose =@HostPurpose ,
				SamplingLocationHouse 	=@SamplingLocationHouse 
			WHERE
				SampleID     =  @SampleID     
				AND LastModified=@LastModified

			IF @@ROWCOUNT=0
			BEGIN
				RAISERROR(742005, 16, 1)
				ROLLBACK TRAN
			END ELSE BEGIN
				COMMIT TRAN
				SELECT @LastModified=LastModified
				FROM tblSample
				WHERE SampleID=@SampleID
			END
		
		END
END
