
CREATE OR ALTER PROCEDURE  [dbo].[spSampleInsert]
	@UserID varchar(128),
	@SampleId  uniqueidentifier ,
	@SampleSubmissionId uniqueidentifier ,
	@SampleNumber int,
	@SMSReferenceNumber varchar (30)  ,
	@SenderReferenceNumber varchar (50)  ,
	@SampleType uniqueidentifier,
	@HostSpecies uniqueidentifier ,
	@HostBreed uniqueidentifier ,
	@HostPurpose uniqueidentifier,
	@SamplingLocationHouse varchar (50)  ,
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
    INSERT INTO tblLogSample
	(
		UserID ,
		DateDone ,
		UpdateType ,
		SampleId   ,
		SampleSubmissionId  ,
		SampleNumber,
		SMSReferenceNumber ,
		SenderReferenceNumber ,
		SampleType ,
		HostSpecies  ,
		HostBreed  ,
		HostPurpose ,
		SamplingLocationHouse   
		)
	VALUES
		(	
		@UserID,
		GetDate(),
		'I',
		@SampleId   ,
		@SampleSubmissionId  ,
		@SampleNumber,
		@SMSReferenceNumber    ,
		@SenderReferenceNumber   ,
		@SampleType ,
		@HostSpecies  ,
		@HostBreed  ,	
		@HostPurpose ,
		@SamplingLocationHouse  
		) 
	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

   	 INSERT INTO tblSample
		(
		SampleId   ,
		SampleSubmissionId  ,
		SampleNumber,
		SMSReferenceNumber ,
		SenderReferenceNumber ,
		SampleType ,
		HostSpecies  ,
		HostBreed  ,
		HostPurpose ,
		SamplingLocationHouse   
		)
		VALUES
		(
		@SampleId   ,
		@SampleSubmissionId  ,
		@SampleNumber,
		@SMSReferenceNumber    ,
		@SenderReferenceNumber   ,
		@SampleType ,
		@HostSpecies  ,
		@HostBreed  ,
		@HostPurpose ,
		@SamplingLocationHouse  
		) 
		IF (@@error <> 0) 
			ROLLBACK TRAN
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblSample
			WHERE SampleID=@SampleID
		END
	END
END
