
CREATE OR CREATE OR ALTER  [dbo].[spSubmissionUpdate] 
	@UserID varchar(128),
	@SubmissionId  uniqueidentifier  ,
	@AVNumber varchar (20),
	@SendersReferenceNumber varchar (50) ,
	@RLReferenceNumber varchar (20) ,
	@SubmittingLab uniqueidentifier ,
	@Sender varchar (50) ,
	@SenderOrganisation varchar (200),
	@SenderAddress varchar (500) ,
	@CountryOfOrigin uniqueidentifier ,
	@SubmittingCountry uniqueidentifier,
	@ReasonForSubmission uniqueidentifier ,
	@DateSubmissionReceived datetime ,
	@CPHNumber varchar (14) ,
	@Owner varchar (50) ,
	@SamplingLocationPremises varchar (500) ,
	@NumberOfSamples int  ,
	@LastModified timestamp OUTPUT	-- @LastModified: input/output parameter
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN
	INSERT INTO tblLogSubmission(

		UserID ,
		DateDone ,
		UpdateType ,
		SubmissionId ,
		AVNumber,
		SendersReferenceNumber ,
		RLReferenceNumber,
		SubmittingLab,
		Sender,
		SenderOrganisation ,
		SenderAddress ,
		CountryOfOrigin,
		SubmittingCountry,
		ReasonForSubmission,
		DateSubmissionReceived ,
		CPHNumber ,
		Owner ,
		SamplingLocationPremises ,
		NumberOfSamples
		)
	SELECT
		@UserID ,
	 	GetDate() ,
		'U' ,
		@SubmissionId ,
		@AVNumber,
		@SendersReferenceNumber ,
		@RLReferenceNumber,
		@SubmittingLab,
		@Sender,
		@SenderOrganisation ,
		@SenderAddress ,
		@CountryOfOrigin,
		@SubmittingCountry,
		@ReasonForSubmission,
		@DateSubmissionReceived ,
		@CPHNumber ,
		@Owner ,
		@SamplingLocationPremises ,
		@NumberOfSamples


	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN
	    Update  tblSubmission
		Set

			AVNumber  =  @AVNumber  ,
			SendersReferenceNumber  =  @SendersReferenceNumber  ,
			RLReferenceNumber  =  @RLReferenceNumber  ,
			SubmittingLab  =  @SubmittingLab  ,
			Sender   =  @Sender   ,
			SenderOrganisation  =  @SenderOrganisation  ,
			SenderAddress   =  @SenderAddress   ,
			CountryOfOrigin   =  @CountryOfOrigin   ,
			SubmittingCountry  =  @SubmittingCountry  ,
			ReasonForSubmission   =  @ReasonForSubmission   ,
			DateSubmissionReceived   =  @DateSubmissionReceived   ,
			CPHNumber   =  @CPHNumber   ,
			Owner   =  @Owner   ,
			SamplingLocationPremises   =  @SamplingLocationPremises   ,
			NumberOfSamples  =  @NumberOfSamples  
		WHERE
			SubmissionId     =  @SubmissionId     
			AND LastModified=@LastModified

		IF @@ROWCOUNT=0
		BEGIN
			RAISERROR(742005, 16, 1)
			ROLLBACK TRAN
		END 
		ELSE 
		BEGIN
			SELECT @LastModified=LastModified
			FROM tblSubmission
			WHERE SubmissionId=@SubmissionId
			COMMIT TRAN
		END
	END
END
