
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ian Galloway
-- Create date: 13/03/07
-- Description:	Inserts a new submission record
-- Updated JAC 01/06/09 Change size of Sender Organisation from 50 to 200
-- =============================================
ALTER PROCEDURE [dbo].[spSubmissionInsert] 
	@UserID varchar(128),
	@SubmissionId  uniqueidentifier  ,
	@AVNumber varchar (20),
	@SendersReferenceNumber varchar (50) ,
	@RLReferenceNumber varchar (20) ,
	@SubmittingLab uniqueidentifier ,
	@Sender varchar (50) ,
	@SenderOrganisation varchar (200),
	@SenderAddress varchar (500) ,
	@CountryOfOrigin uniqueidentifier ,
	@SubmittingCountry uniqueidentifier,
	@ReasonForSubmission uniqueidentifier ,
	@DateSubmissionReceived datetime ,
	@CPHNumber varchar (14) ,
	@Owner varchar (50) ,
	@SamplingLocationPremises varchar (500) ,
	@NumberOfSamples int  ,
	@LastModified timestamp OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
	INSERT INTO tblLogSubmission(

		UserID ,
		DateDone ,
		UpdateType ,
		SubmissionId ,
		AVNumber,
		SendersReferenceNumber ,
		RLReferenceNumber,
		SubmittingLab,
		Sender,
		SenderOrganisation ,
		SenderAddress ,
		CountryOfOrigin,
		SubmittingCountry,
		ReasonForSubmission,
		DateSubmissionReceived ,
		CPHNumber ,
		Owner ,
		SamplingLocationPremises ,
		NumberOfSamples
		)
	SELECT
		@UserID ,
	 	GetDate() ,
		'I' ,
		@SubmissionId ,
		@AVNumber,
		@SendersReferenceNumber ,
		@RLReferenceNumber,
		@SubmittingLab,
		@Sender,
		@SenderOrganisation ,
		@SenderAddress ,
		@CountryOfOrigin,
		@SubmittingCountry,
		@ReasonForSubmission,
		@DateSubmissionReceived ,
		@CPHNumber ,
		@Owner ,
		@SamplingLocationPremises ,
		@NumberOfSamples


	IF (@@error <> 0) 
		ROLLBACK TRAN
	ELSE
	BEGIN

   		 INSERT INTO tblSubmission
			(
		SubmissionId  ,  
		AVNumber ,
		SendersReferenceNumber ,
		RLReferenceNumber ,
		SubmittingLab ,
		Sender  ,
		SenderOrganisation ,
		SenderAddress  ,
		CountryOfOrigin  ,
		SubmittingCountry ,
		ReasonForSubmission  ,
		DateSubmissionReceived  ,
		CPHNumber  ,
		Owner  ,
		SamplingLocationPremises  ,
		NumberOfSamples 
		)
		VALUES
		(
		@SubmissionId  ,  
		@AVNumber ,
		@SendersReferenceNumber ,
		@RLReferenceNumber ,
		@SubmittingLab ,
		@Sender  ,
		@SenderOrganisation ,
		@SenderAddress  ,
		@CountryOfOrigin  ,
		@SubmittingCountry ,
		@ReasonForSubmission  ,
		@DateSubmissionReceived  ,
		@CPHNumber  ,
		@Owner  ,
		@SamplingLocationPremises  ,
		@NumberOfSamples 
		)
		IF (@@error <> 0) 
			ROLLBACK TRAN
		ELSE 
		BEGIN
			COMMIT TRAN
			SELECT @LastModified=LastModified
			FROM tblSubmission
			WHERE SubmissionId=@SubmissionId
		END
	END
END
