
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Ian Galloway
-- Create date: 13/03/07
-- Description:	Deletes a submission record
-- =============================================
ALTER PROCEDURE [dbo].[spSubmissionDelete] 
	@UserID varchar(128),
	@SubmissionId  uniqueidentifier  ,
	@LastModified timestamp

AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN
	INSERT INTO tblLogSubmission(

		UserID ,
		DateDone ,
		UpdateType ,
		SubmissionId ,
		AVNumber,
		SendersReferenceNumber ,
		RLReferenceNumber,
		SubmittingLab,
		Sender,
		SenderOrganisation ,
		SenderAddress ,
		CountryOfOrigin,
		SubmittingCountry,
		ReasonForSubmission,
		DateSubmissionReceived ,
		CPHNumber ,
		Owner ,
		SamplingLocationPremises ,
		NumberOfSamples
		)
	SELECT
		@UserID ,
	 	GetDate() ,
		'D' ,
		SubmissionId ,
		AVNumber,
		SendersReferenceNumber ,
		RLReferenceNumber,
		SubmittingLab,
		Sender,
		SenderOrganisation ,
		SenderAddress ,
		CountryOfOrigin,
		SubmittingCountry,
		ReasonForSubmission,
		DateSubmissionReceived ,
		CPHNumber ,
		Owner ,
		SamplingLocationPremises ,
		NumberOfSamples
	FROM
		tblSubmission
	WHERE
		SubmissionID=	@SubmissionId 

    DELETE FROM  tblSubmission
	WHERE
		SubmissionId     =  @SubmissionId     
		and LastModified =@LastModified 

	IF @@ROWCOUNT=0
	BEGIN
		RAISERROR(742005, 16, 1)
		ROLLBACK TRAN
	END
	ELSE
		COMMIT TRAN
	RETURN

END
