@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@{
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var isIsolateManager = isAuthenticated && (User?.IsInRole("IsolateManager") ?? false);
    var isIsolateViewer = isAuthenticated && (User?.IsInRole("IsolateViewer") ?? false);
    var isLookupDataManager = isAuthenticated && (User?.IsInRole("LookupManager") ?? false);
    var isReportViewer = isAuthenticated && (User?.IsInRole("ReportViewer") ?? false);
    var isAdministrator = isAuthenticated && (User?.IsInRole("Administrator") ?? false);
}
@{
    ViewData["Title"] = "Home | Virus Isolates Repository";
}
<div class="text-start">
    <h3>Welcome to the home page of the Avian Virology Isolates Repository system.</h3>

    <p>
        This system holds information on virus isolates and is used to register, update, dispatch and search isolates. Click on one of the links below to start using the system.
    </p>
    <nav>
        <ul class="link-list">
            @if (isIsolateManager)
            {
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="GetAVNumber" asp-action="Index">Register or Update Submission, Samples and Isolates</a>
                </li>
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="SearchRepository" asp-action="Index">Search Repository</a>
                </li>
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="IsolateAndTrayRelocation" asp-action="Index">Relocate Virus Isolates</a>
                </li>
            }
            @if (isIsolateViewer && !isIsolateManager)
            {
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="SearchRepository" asp-action="Index">Search Repository</a>
                </li>
            }
            @if (isLookupDataManager)
            {
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="Lookup" asp-action="Index">Maintain Look-up Data</a>
                </li>
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="VirusCharacteristicsListEntry" asp-action="Index">Maintain Virus Characteristics</a>
                </li>
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="Sender" asp-action="Index">Maintain Sender Information</a>
                </li>
            }
            @if (isReportViewer)
            {
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="Reports" asp-action="Index">Produce Reports</a>
                </li>

            }
            @if (isAdministrator)
            {
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="AuditLog" asp-action="Index">View Audit Logs</a>
                </li>
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a asp-controller="SystemInformation" asp-action="Index">System Information</a>
                </li>
                <li>
                    <img src="~/Images/chevron-rt-dkblue.gif" width="3" height="9" alt="" />
                    <a href="@ViewBag.UserMgmtUrl" target="_blank">User Management</a>
                </li>
            }
          </ul>
    </nav>
</div>
